<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="HANGUL" />
<meta name="description" content="HANGUL" />
<meta name="author" content="HANGUL.AC" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
<link href='/css/hangul/main.css' rel='stylesheet' type='text/css'>
<link>
</head>
<body>
<header>
	<div class="header_1"></div>
	<div class="login_bt"><img src="/img/hangul/gnb_login_bt.png"></div>
	<div class="register_bt"><img src="/img/hangul/gnb_new_bt.png"></div>
	<div class="flag"><img src="/img/hangul/eng_ico.gif"></div>
	<div class="dott"><img src="/img/hangul/gnb_dot_line.png"></div>
	<div class="flag"><img src="/img/hangul/cha_ico.gif"></div>
	<div class="dott"><img src="/img/hangul/gnb_dot_line.png"></div>
	<div class="flag"><img src="/img/hangul/jap_ico.gif"></div>
</header>

<section class="second_header">
	<div class="second_empty_menu"></div>
	<div class="second_header_menu"><img src="/img/hangul/gnb_nav_text1.gif"></div>
	<div class="second_header_menu"><img src="/img/hangul/gnb_nav_text2.gif"></div>
	<div class="second_header_menu"><img src="/img/hangul/gnb_nav_text3.gif"></div>
	<div class="second_header_menu"><img src="/img/hangul/gnb_nav_text4.gif"></div>
</section>

<section class="select_class">
	<div class="select_class_menu" style="margin-left: 90px;"><img src="/img/hangul/main_v_imgbox1.jpg"></div>
	<div class="select_class_menu"><img src="/img/hangul/main_v_imgbox2.jpg"></div>
	<div class="select_class_menu"><img src="/img/hangul/main_v_imgbox3.jpg"></div>
	<div class="select_class_menu"><img src="/img/hangul/main_v_imgbox4.jpg"></div>
</section>
<section class="contents">
	<div class="contents_wrap">
		<div style="width: 100%; height: 40px;"></div>
		<div class="con_left">
			<div class="k_banner"><img src="/img/hangul/m_con_banner.jpg" style="width: 100%;"></div>
			<br>
			<div class="daily_banner">
				<div class="today_title"><img src="/img/hangul/today_title.gif"></div>
				<div class="today_image"><img src="/img/hangul/con_today_img.gif"></div>
				<div class="today_a_example"><img src="/img/hangul/con_today_a_text.gif"></div><div class="a_example_audio"><img src="/img/hangul/con_today_play.gif"></div>
				<div class="today_b_example"><img src="/img/hangul/con_today_b_text.gif"></div><div class="b_example_audio"><img src="/img/hangul/con_today_play.gif"></div>
			</div>
			<br>
			<div class="situation_conversations">
				<div class="situation_left">
					<div class="situation_txt"><img src="/img/hangul/situ_title.gif"></div>
				</div>
				<div class="situation_right">
					<div class="situation_menu airport"></div>
					<div class="situation_menu subway"></div>
					<div class="situation_menu hotel"></div>
					<div class="situation_menu post"></div>
					<div class="situation_menu department"></div>
				</div>
			</div>
			<br>
			<div class="prepare_contents">
				<div class="prepare_contents_left"></div>
				<div class="prepare_contents_right">
					<img src="/img/hangul/contact_banner_box.gif" style="width: 100%; height: 148px;">  
				</div>
			</div>
		</div>
		<div class="con_right">
			<div class="login_wrap">
				<div class ="please_title"><img src="/img/hangul/please_title.gif"></div>
				<div class="user_name"><img src="/img/hangul/login_box_use_icon.gif" style="float: left;"><input style="float: left; width:250px; height: 47px; background-color: #f3f3f3;" placeholder="  Username"></div>
				<div class="password"><img src="/img/hangul/login_box_pw_icon.gif" style="float: left;"><input style="float: left; width:250px; height: 47px; background-color: #f3f3f3;" placeholder="  Password"></div>
				<div class="remember_userId checks etrans"><input id="ex_chk3" type="checkbox"><label for="ex_chk3"></label><img class="remember_txt" src="/img/hangul/login_box_remember_tt.gif"></div>
				<div class="login_button"><img src="/img/hangul/login_box_login_bt.gif"></div>
			</div>
			<br>
			<div class="advertisement_banner">
				<img src="/img/hangul/con_right_bn_box.gif">
			</div>
		</div>
	</div>
</section>
<footer></footer>
</body>
</html>