<!DOCTYPE html>
<html lang="ko">
<head>
	<title>아이두</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- 탑메뉴 css -->
<link rel="stylesheet" type="text/css" href="/css/web/main/common1.css" />
<link rel="stylesheet" href="/css/web/builder/user/partner/login_partner.css">
</head>

<body>
<div id="wrap" style="width: 100%; height: auto;">
	<img src="/images/pp.jpg" style="width: 100%;">
</div>
</body>
