@CHARSET "UTF-8";
/* header  */
body{
	margin: 0 auto;
	min-width: 320px;
	padding: 0;
}
.header{
	background-color: #07478e;
	width: 100%;
	height:240px;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.header .nav_1{
	width: 100%;
	position:absolute;
	height: 20%;
}
.nav_1_menu{
	float:left;
	height: 100%;
}

.header .nav_2{
	width: 100%;
	position:absolute;
	top:20%;
	height: 80%;

}
/* header  */
.contents{
	width: 100%;
	height: auto;
}
.step_container{
	width: 100%;
	height: 120px;
}
.step{
	float: left;
	width: 15%;
	height: 80%;
	padding-top: 40px;
}
.step img{
	width: 80%;
}
.step_arrow{
	float: left;
	width: 5%;
	height: 50%;
	padding-top: 13%;
}
.step_arrow img{
	width: 70%;
	
}

.contents .election_container{	
	height: auto;
	padding-left: 5%;
}	

.contents .election_container .title_icon{
	background: url(/img/service/election/title_icon.png) no-repeat;;
	width: 21px;
	height: 21px;
	float: left;
	margin: 0 1% 0 0;
}

/* 썸네일 div */
.thumbnail{
	text-align: center;
}

/* 썸네일 이미지 */
#thumbnailImg{
	width: 250px;
	height: 150px;
}

/* title */
.title_span{
	margin: 0px;
	width: 30%;
	font: 13pt '나눔바른고딕';
	color: #706F6F;
	font-weight: bold;
	line-height: 20px;
	float: left;
}

/* 선거투표 data */
.election_value {
	margin: 0px;
	font: 11pt '나눔바른고딕';
	width: 60%;
	color: #706F6F;
	line-height: 22px;
	text-align: left;
	float: left;
}

/* hr 라인 */
.hr_line {
	background: url(/img/service/election/gray_line.png) no-repeat;
	width: 90%;
	height: 1px;
	margin: 7% 0 0 0;
	color: #efefef;
	clear: both;
}

.election_input{
	width: 90%;
	height: 20px;
	border-color: #cacaca;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	background-color: #f7f7f7;
}


/* 후보 프로필 */
.candidate_profile {
	/* margin: 5% 0 0 19%; */
	margin: 0 auto;
}

/* 후보자 기호 blue bar */
.blue_bar {
	/* background: url(/img/service/election/blue_bar.png) no-repeat; */
	width: 80%;
	height: 40px;
	background: #06468E;
	border-radius: 50px;
	margin: 5% 0 0 7%;
	text-align: center;
	font-size: 15pt;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
}

/* 후보 프로필 img */
.profile_img{
	margin: 0 0 0 19%;
	width: 203px;
	height: 203px;
	-webkit-border-radius: 50%; 
}

/* 후보자 성명 */
.candidate_name{
	margin: 0 0 0 39%;
	font: 15pt '나눔바른고딕';
	color: #706F6F;
	font-weight: bold;
}

/* 후보자 컨테이너 hr */ 
.candidate_container .hr_line{
	margin: 1% 0 5% 0;
}

/* 후보 타이틀 icon */
.candidate_icon{
	background: #06468E;
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%; 
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	float: left;
	vertical-align: middle;
}

/* icon eng title */
.eng_txt{
	color: #206ABC;
	margin-top: 2%;
	font-size: 10pt;
	letter-spacing: -1px;
}

/* icon kor title */
.kor_txt{
	color: #fff;
	font-size: 13pt;
}

/* 후보자 정보 value */
.candidate_value {
	line-height: 60px;
	margin: 0 0 0 5%;
	color: #706F6F;
}

/* 경력 icon div */
.career_icon {
	margin-bottom: 3%;
}

/* 경력 value */
.career_value {
	line-height: 25px;
	margin: 0 0 0 3%;
	clear: both;
}

/* 정견 icon div */
.opinion_icon{
	margin-bottom: 3%;
}

/* 정견 value */
.opinion_value {
	line-height: 20px;
	margin: 0 10% 0 3%;
	clear: both;
}

/* 버튼 컨테이너 */
.btn_container{
	margin: 0 0 20% 10%;
}

/* 선거정보수정 btn */
.update_election {
	width: 40%;
	height: 60px;
	background: #353534;
	color: #fff;	
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	margin: 0 5% 0 0;
	float: left;
}

/* 등록완료 btn */
.comp_register{
	width: 40%;
	height: 60px;
	background: #06468E;
	color: #fff;
	font-weight: bold;	
	text-align: center;
	line-height: 60px;
	float: left;
}


/* contents */

/* footer */
.footer{
	width: 100%;
	height: auto;
}

